body{
    background: url(images/qbkls.png);
    font-family: 'Poppins',sans-serif;
}

@media only screen and (min-width: 768px){
.container-fluid{
    max-width: 80% !important;
}
}

.container-fluid{
    max-width: 100%;
    background: #ffffff;
    border: solid 1px #777;
    padding: 10px;
}

#pic{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

#foot{
    position: fixed;
    color: #ffffff;
    background: #343a40;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px;
    text-align: center;
    border-top: solid 1px plum;
}